*
{
  margin: 0;
  padding: 0;
}

html,
body
{
  height: 100vh;
  font-family: monospace;
}

.nav
{
  display: block;
  position: relative;
  text-align: center;
  background-color: lightgray;

  height: 1.5%;
}

.buttons
{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5%;
}

.buttons div 
{
  color: white;
  border: solid thin white;
  border-radius: 2px;
  padding: .5%;
  padding-left: .5%;
  padding-right: .5%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 1.3rem;
  background-color:;
  box-shadow: 6px 3px 0.5px lightgray;
}

.buttons div:hover 
{
  background-color: lightgray;
  cursor: pointer;
}

.spotify
{
  display:block;
  position:absolute;
  border-radius: 10px;
  height: 165px;
  width: 300px;
  top: 80%;
  left: 3%;
  text-align: center;
  border-color: yellow;
}

.message
{
  display: block;
  color: white;
  letter-spacing: 7px;
  line-height: 40px;
}

iframe 
{
  display: block;
  height: 49%; 
  border: black;
  border-radius: 10px; 
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
